@if (Info.DisplayShown)
{
    <div class="pointsDisplay overlay">
        <br />
        <span class="overlay" style="color: @Info.DisplayColor">You have</span>
        <h2 class="overlay" style="text-shadow: 0 0 10px @Info.DisplayColor; color: @Info.DisplayColor">@Data.Format(Info.DisplayPoints)</h2>
        <span class="overlay" style="color: @Info.DisplayColor">@Info.ExternalName</span>
        <br />
        @if (Info.PpsShown)
        {
            <span class="overlay" style="color: @Info.DisplayColor">(@Data.Format(Info.DisplayPps)/sec)</span>
        }
    </div>
}
